.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.avatar {
  width: 145px;
  height: 145px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}

.avatarContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  margin: 0;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-2-text);
}

.articlesCount {
  margin: 0;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-2-text);
}

.avatarPlaceholder {
  background-color: #e0e0e0;
}

@media screen and (min-width: 768px) {
  .profile {
    flex-direction: row;
  }

  .avatarContent {
    width: auto;
    align-items: flex-start;
  }

  .username {
    width: auto;
    text-align: left;
  }

  .articlesCount {
    width: auto;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .username {
    font-size: 32px;
  }

  .articlesCount {
    font-size: 20px;
  }
}
