.pageHeader {
  padding-top: 32px;
}

.locationsSection {
  padding-top: 32px;
  padding-bottom: 64px;
}

.locationsContent {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.locationsTitle {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

@media screen and (min-width: 768px) {
  .locationsContent {
    max-width: none;
    margin: 0;
    gap: 40px;
  }

  .locationsTitle {
    font-size: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .pageHeader {
    padding-top: 48px;
  }

  .locationsSection {
    padding-top: 48px;
    padding-bottom: 72px;
  }

  .locationsTitle {
    font-size: 52px;
  }
}
